<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mum">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app_icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity will launch first when opened -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Recipe List Activity -> MainActivity -->
        <activity
            android:name=".RecipeListActivity"
            android:label="@string/add_ingredients_name"
            android:parentActivityName=".MainActivity" /> <!-- Ingredients List Activity -> MainActivity -->
        <activity
            android:name=".CardViewIngredients.IngredientsCardViewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CardViewIngredients.IngredientsListActivity"
            android:parentActivityName=".CardViewIngredients.IngredientsCardViewActivity" />
        <activity
            android:name=".RecipeDetailActivity"
            android:parentActivityName=".RecipeListActivity"/>
    </application>

</manifest>